<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title th:text="${chat.name}">Chat</title>
  <link rel="stylesheet" href="/styles.css">
</head>

<body>
<h1 th:text="${chat.name}">Chat Name</h1>

<div th:if="${#lists.isEmpty(messages)}">
  <p>No messages yet</p>
</div>

<ul id="messageList">
  <li th:each="message : ${messages}">
    <strong th:text="${message.user.name}">Username</strong>:
    <span th:text="${message.message}">Message Text</span>

    <div th:if="${message.imageUrl != null}">
      <img th:src="@{${message.imageUrl}}" alt="image" style="max-width: 200px; max-height: 200px;"/>
    </div>
  </li>
</ul>


<div class="login-container">
  <form id="messageForm" enctype="multipart/form-data">
    <input name="message" type="text" placeholder="Text me!" required>
    <input type="file" id="imageInput" name="image" accept="image/*">
    <input type="hidden" id="chatId" name="chat.id" th:value="${chat.id}">
    <button type="submit">Send</button>
  </form>
</div>

<script>
  const form = document.getElementById('messageForm');
  const messageList = document.getElementById('messageList');

  form.addEventListener('submit', async function (e) {
    e.preventDefault();
    const formData = new FormData(form);

    const response = await fetch('/message', {
      method: 'POST',
      body: formData
    });

    if (!response.ok) {
      console.error('Ошибка при отправке запроса:', response.status);
      return;
    }

    const message = await response.json();

    if (message && message.user) {
      const li = document.createElement('li');
      li.innerHTML = `<strong>${message.user.name}</strong>: `;

      if (message.message) {
        li.innerHTML += `<span>${message.message}</span>`;
      }

      if (message.imageUrl) {
        const img = document.createElement('img');
        img.src = message.imageUrl;
        img.style.maxWidth = '200px';
        img.style.display = 'block';
        li.appendChild(img);
      }

      messageList.appendChild(li);
      form.reset();
    }
  });

  async function loadMessages() {
    const chatId = document.getElementById('chatId').value;
    const response = await fetch(`/messages?chatId=${chatId}`);
    if (!response.ok) return;

    const messages = await response.json();


    messageList.innerHTML = '';
    messages.forEach(message => {
      const li = document.createElement('li');
      li.innerHTML = `<strong>${message.user.name}</strong>: `;

      if (message.message) {
        li.innerHTML += `<span>${message.message}</span>`;
      }

      if (message.imageUrl) {
        const img = document.createElement('img');
        img.src = message.imageUrl;
        img.style.maxWidth = '200px';
        img.style.display = 'block';
        li.appendChild(img);
      }

      messageList.appendChild(li);
    });
  }


  setInterval(loadMessages, 1000);


  window.onload = loadMessages;
</script>
</body>
</html>
