<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title th:text="${chat.name}">Chat</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
<h1 th:text="${chat.name}">Chat Name</h1>

<div th:if="${#lists.isEmpty(messages)}">
  <p>No messages yet</p>
</div>

<ul th:if="${!#lists.isEmpty(messages)}">
  <li th:each="message : ${messages}">
    <strong th:text="${message.user.name}">Username</strong>:
   <span th:text="${message.message}">Message Text</span>
  </li>
</ul>
<div class="login-container">
<form th:action="@{/message}" method="post">
  <input name="message" type="text" placeholder="Text me!" required>
  <input type="hidden" name="chat.id" th:value="${chat.id}">
  <input type="hidden" name="user.login" th:value="${#authentication.name}">
  <button type="submit">Send</button>
</form>
</div>
</body>
</html>
