<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>YOUR CHATS</title>
    <link rel="stylesheet" th:href="/styles.css">
</head>
<body>
<h1>Hello, <span th:text="${#authentication.name}"> honey</span>!</h1>

<h2>YOUR CHATS</h2>

<div th:if="${#lists.isEmpty(chats)}">
    <p>you dont have a chat! start texting to some1</p>
</div>

<ul th:if="${!#lists.isEmpty(chats)}">
    <li th:each="chat : ${chats}">
        <a th:href="@{'/chats/' + ${chat.id}}">
            <strong th:text="${chat.name}">Chat name</strong><br>
            <small th:text="${chat.lastMessage}">last Message</small>
        </a>
    </li>
</ul>
</body>
</html>
