<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>YOUR CHATS</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<style>
    form {
        position: absolute;
        justify-content: center;
        top: 5%;
        font-family: 'geekFont', sans-serif;
        display: flex;
        width: 15%;
        padding: 10px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.61);
    }
</style>
<body>
<form method="post" th:action="user">
    <input name = "login" type="text" id="name" placeholder="find user by login" required>
</form>
<h1>Hello,
    <span th:text="${name}">Guest</span>!
</h1>


<h2>YOUR CHATS</h2>

<div th:if="${#lists.isEmpty(chats)}">
    <p>you dont have a chat! start texting to some1</p>
</div>

<ul th:if="${!#lists.isEmpty(chats)}">
     <li th:each="chat : ${chats}">
            <a th:href="@{/chats/{id}(id=${chat.id})}">
                <strong th:text="${chat.name}">Chat name</strong><br>
            </a>
        </li>
    </ul>
    </body>
    </html>
