<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="welcome">
        <h1>Welcome</h1>
    </div>
    
    <div class="login-container">
        <form method="POST" action="/home">
            <input type="text" id="username" placeholder="login" required>
            <input type="password" id="password" placeholder="password" required>
            <button type="submit">sing in</button>
        </form>
    </div>

    <div class="registration-link">
        <p>dont have an account???? create rn!!!! <a href="register.html">sing up</a></p>
    </div>
</body>
</html>
