<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>"${name}"</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>

<body>
<div class="login-container">
<h1>
    <img th:src="${avatar}" alt="Avatar" class="avatar-img" onerror="this.src='/default-avatar.png'" style="width: 20%; height: auto; border-radius: 10px;">
    <span><strong>Nickname:</strong></span>
    <span th:text="${name}" id="nameDisplay">Nickname</span>
    <span><strong>Bio:</strong></span>
    <span th:text="${bio}" id="bioDisplay">Bio</span>
    <span><strong>Login:</strong></span>
    <span th:text="${login}" id="loginDisplay">Login</span>
</h1>
</div>
    <div class="login-container">
<h6>
    <form th:action="chat" method="post">
        <input type="hidden" name="login" th:value="${login}" />
        <button type="submit">Start Chat</button>
    </form>
</h6>

    </body>
    </html>
